@model IEnumerable<prjShopping.Models.tCategory>

@{
    ViewBag.Title = "產品類別";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>產品類別</h2>


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCategoryName)
        </td>
        <td>
            <a href="@Url.Action("CategoryDelete")?fCategoryId=@item.fCategoryId"
               class="btn btn-danger">刪除</a>
        </td>
    </tr>
}

</table>
