@model IEnumerable<prjShopping.Models.tOrderDetails>

@{
    ViewBag.Title = "訂貨明細";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>訂貨明細</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>小計</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fQty)
        </td>
        <td>
            @(item.fPrice * item.fQty)
        </td>
    </tr>
}

</table>
