<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 柯基購物網會員平台</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" 柯基購物網管理者平台", "MemberList", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("會員管理", "MemberList", "Admin")</li>
                    <li>@Html.ActionLink("類別管理", "CategoryList", "Admin")</li>
                    <li>@Html.ActionLink("類別新增", "CategoryCreate", "Admin")</li>
                    <li>@Html.ActionLink("產品管理", "ProductList", "Admin")</li>
                    <li>@Html.ActionLink("產品新增", "ProductCreate", "Admin")</li>
                    <li>@Html.ActionLink("訂單管理", "OrderList", "Admin")</li>
                    <li>@Html.ActionLink("登出系統", "Logout", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 柯基練習室</p>
        </footer>
    </div>


</body>
</html>